<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
        <h1>Let's chat annonymously</h1>
        <input type="text" name="author" placeholder="pseudonymous" style="margin-bottom: 4px;">
        <br>
        <input type="text" name="text" placeholder="Tell us something" style="margin-bottom:4px">
        <br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
